*{margin:0;padding:0;outline:0}
body{font-family:arial; font-size:14 px; line-height:18 px;color:black;background:url(Image/bg.png)repeat fixed 0 0; }

.temp{width: 970px;background: #21262A; margin:0 auto;border-left: 2px solid #085660;border-right: 2px solid #085660;}
.clear{overflow:hidden;}

.Headersec{background: #085660; color:white;}

.logo {
  float: left;
}
.logo img {
  padding: 5px 24px;
  width: 482px;
}
.Social{
	padding-top: 27px;
	padding-right: 10px;
}
.Social a{}
.Social img {
  float: right;
  width: 56px;
}


.Nevsec{background:#023036;color:white}

.Nevsec ul{margin:0;padding:0;list-style:none;}

.Nevsec ul li {
  display: block;
  float: left;
  margin: 10px 4px;
}

.Nevsec ul li a {
  background: #085660;
  color: white;
  padding: 4px 30px;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
}
.Nevsec ul li a:hover{background:black; color:white;}
#active{background:red; color:white;}

.Slider{}

.Contentsec{padding-top:5px;}


.Mainsec {
	width:670px;
	float:left;
	margin:10px;
}

.Samepost{
	background:white;
	margin-bottom:10px;
}
.Samepost h4 {
  background: none repeat scroll 0 0 #085660;
  border-bottom: 3px solid #708090;
  color: white;
  font-size: 22px;
  font-weight: bold;
  padding: 3px 10px;
}
.Samepost img {
  background: none repeat scroll 0 0 white;
  border: 2px solid black;
  float: left;
  margin: 10px;
  padding: 6px;
  width: 234px;
}
.Samepost p{
	margin:10px;
	text-align: justify;
}

.Readmore {float:right;}
.Readmore a {
  background: #FFFAFA;
  color:red;
  border: 2px solid black;
  display: block;
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 3px 13px;
  text-decoration: none;
}
.Readmore a:hover{background:black;color:white;}



.Sidebar{
	 margin-top:10px;
	 margin-bottom: 10px;
	color:white;
	border-left: 3px solid #708090;
	border-bottom: 3px solid #708090;
}
.SameSidebar {
  float: right;
  padding-bottom: 15px;
}
.SameSidebar h4{ 
	background:white;
  border-bottom: 3px solid #708090;
  font-size: 22px;
  text-align: center;
  color:black;
  padding: 3px 3px;
  
  }
  
.SameSidebar ul{padding:0;margin:10px;list-style:none;}
.SameSidebar ul a{
	color:white;
	text-decoration:none;
	display:block;
	padding:5px 0px;
	border-bottom:1px solid #708090;
}
.SameSidebar ul a:hover{color:yellow;}

.next{}
.next ul{
	padding:0;margin:0;list-style:none;text-align:center;
}
.next ul li{
	display:inline-block;
}
.next ul li a {
  color: white;
  display: block;
  margin-bottom: 8px;
  padding: 5px 14px;
}
.next ul li a:hover{color:black;}

.Footersec{height:50px;background:#085660;text-align:center;padding:10px 0px;}
.Footersec p{color:white;}
}
.options{}
.options ul{padding:0;margin:0; list-style:none;text-align:center;}
.options ul li{
	display:inline-block
}
.options ul li a{
	text-decoration:none;
	color:white;
	display:block;
	padding:5px;
	}
.options ul li a:hover{color:black;}